
.main {
  text-align: center;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 95%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid rgb(182, 182, 182);
}

#myTable tr:nth-child(odd){
  background-color: #b5ddee;
  color: black;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.title {
  justify-content: center;
  text-align: center;
  background-image: url("chevron.png");
  background-repeat: repeat;
  width: 100%;
  border-radius: 100px;
  height: auto;
}

.heading-section {
  justify-items: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
